fastapi==0.115.0
uvicorn[standard]==0.32.0
pydantic==2.9.2
pydantic-settings==2.5.2
email-validator==2.2.0
sqlalchemy==2.0.35
asyncpg==0.29.0
psycopg2-binary==2.9.9
alembic==1.13.3
python-jose[cryptography]==3.3.0
passlib[bcrypt]==1.7.4
bcrypt==4.0.1
python-multipart==0.0.12
python-dotenv==1.0.1
redis==5.1.1

# RAG / AI stack
langchain==0.3.4
langchain-community==0.3.3
langchain-groq==0.2.0
fastembed==0.4.2
sentence-transformers==3.2.0
qdrant-client==1.11.3
pypdf==5.0.1
langchain-text-splitters==0.3.0

# Logging / utils
loguru==0.7.2
